# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node_modules
node_modules/

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Misc files and directories
.DS_Store
.fleet
.idea
*.local

# Local environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
