# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Editor/OS directories and files
.DS_Store
*.suo

# IntelliJ family
.idea
!.idea/
.idea/*
!.idea/runConfigurations/

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Compiled code
dist/
build/

# Coverage report
coverage

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Received approval test files
*.received.*

# AlgoKit
debug_traces/
.algokit/static-analysis/ # Replace with .algokit/static-analysis/tealer/ to enable snapshot checks in CI
.algokit/sources
